/* Reset de estilos para garantir consistência entre os navegadores */
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
  }
  
  /* Estilo para o corpo do site */
  body {
    font-family: Arial, sans-serif;
    background-color: #F8F8F8;
    color: #333;
    line-height: 1.5;
  }
  
  /* Estilo para o cabeçalho do site */
  header {
    background-color: #006600;
    height: 100px; /* Altura fixa para o header */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  [data-theme="dark"] body{
    color: #fff;
    background-color: #333;
  }
  
  [data-theme="dark"] #cervejas{
    color: black;
    background-color: #333;
  }
  
  header h1 {
    font-size: 36px;
    margin: 0;
  }
  
  header nav {
    margin-top: 10px;
  }
  
  header nav a {
    color: #FFF;
    text-decoration: none;
    margin-right: 10px;
  }
  
  #userRight{
    text-align: right;
  }
  
  #userPhotoTop{
    margin-top: 15%;
    margin-bottom: -20px;
    max-height: 60px;
  }
  
  #userNameTop{
    color: white;
    margin-right: 3px;
  }
  
  /* Estilo para as seções do site */
  section {
    padding: 50px;
  }
  
  section h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #006B3F;
  }
  
  section p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  section ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  
  section li {
    width: calc(33.33% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #FFF;
    border: 1px solid #DDD;
    padding: 20px;
    text-align: center;
    transition: box-shadow 0.3s ease-in-out;
  }
  
  section li:hover {
    box-shadow: 0 0 10px #AAA;
  }
  
  section li img {
    max-width: 100%;
  }
  
  section li h3 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #006B3F;
  }
  
  section li p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  section li a {
    background-color: #006B3F;
    color: #FFF;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
  }
  
  section li a:hover {
    background-color: #004027;
  }
  
  #contato{
    text-align: center;
  }
  
  /* Estilo para o rodapé do site */
  footer {
    background-color: #004027;
    color: #FFF;
    padding: 20px;
    text-align: center;
  }
  
  footer p {
    margin: 0;
  }
  
  footer ul {
    margin-top: 10px;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  footer li {
    margin-right: 10px;
  }
  
  footer a {
    color: #FFF;
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  #witbier{
    margin-bottom: -5px;
  }
  
  #link:hover{
    background-color: #006600;
    color: white;
    text-decoration: none;
  }
  
  #logo {
    max-width: 100%;
    height: 100%;
    width: auto; /* Define a largura da imagem para "auto" */
    padding: 5px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin: 0 1rem;
  }
  
  .menu {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-right: 45%;
  }
  
  #menu-toggle {
    display: none;
  }